<div class="header">
  <div class="header-part">
    <div id="particles-js"></div>
    <div class="euphoria-nav">
      <div class="euphoria-menu">
        <ul id="euphoria-menu">
          <li class="nav-item">
            <a class="nav-link" id="home" routerLink=""><i class="mdi mdi-home"></i>
              <span>Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="map" routerLink="map"><i class="mdi mdi-map"></i>
              <span>Mapa</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://tienda.nifheim.net" id="store" rel="noopener"><i class="mdi mdi-cart"></i>
              <span>Tienda</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="punishments" routerLink="punishments"><i class="mdi mdi-gavel"></i>
              <span>Sanciones</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="vote"><i class="mdi mdi-vote"></i>
              <span>Votos</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-container">
      <div class="container">
        <div class="euphoria-count">
          <div class="left ipCopy" data-clipboard-text="mc.nifheim.net" onclick="serverjoin()">
            <i class="mdi mdi-minecraft"></i>
            <div class="players"> Jugadores Online <span id="euphoria-mc"></span></div>
            <small class="ipCopy">Click para copiar</small>
          </div>
          <div class="logo">
            <span>Nifheim</span>
          </div>
          <div class="right">
            <a href="https://discord.gg/K5qMagr3Dd" target="blank">
              <i class="mdi mdi-discord"></i>
              <div class="players">
                <span id="euphoria-discord"></span> Miembros Online
              </div>
              <small class="ipCopy">Entra a nuestro Discord</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
