<div class="bFooter">
  <div class="container container-footer">
    <div class="footer-col">
      <h4><i class="mdi mdi-clipboard-play"></i>Sobre Nosotros</h4>
      <p>Iniciado como servidor en 2016, funcionó hasta 2019 donde debimos cerrar nuestras puertas.</p>
      <p>Luego de un tiempo y bastante aprendizaje hemos vuelto para intentar ofrecer una experiencia renovada entre
        servidores Towny.</p>
    </div>
    <div class="footer-img">
      <img src="https://i.imgur.com/HaCBsdsfWHv.png">
    </div>
    <div class="footer-col">
      <h4><i class="mdi mdi-star-box"></i>Tienda</h4>
      <p>¡Ayuda al servidor comprando rangos, llaves y más!</p>
      <a class="footer-store hvr-rectangle-out" href="#">Tienda</a>
    </div>
  </div>
</div>
<div class="aFooter">
  <div class="container">
    <div class="cyvers-cp p-body-inner" id="mobile-hide">
      <p>
        © 2021 <b>NIFHEIM</b>. ALL RIGHTS RESERVED.
      </p>
    </div>
  </div>
</div>
